<p>Visiteurs de la dernière heure : <%= visits_last_hour %></p>
<p>Visiteurs d'aujourd'hui : <%= visits_today %></p>
<p>Visiteurs ce mois-ci : <%= visits_this_month %></p>
<p>Nombre total de visiteurs : <%= total_visits %></p>
