
.breadcrump {
  margin-bottom: 20px;
  height: 40px;
  width: 100%;
  background-color: $blue;
  line-height: 30px;
  padding: 5px 20px;
  display: flex;
  color: white;
  justify-content: flex-end;
  align-items: center;
}
.breadcrump-diary {
  margin-bottom: 0px;
  height: auto;
  width: 100%;
  background-color: $blue;
  line-height: 30px;
  padding: 10px 20px;
  display: flex;
  color: white;
  justify-content: flex-start;
  align-items: center;
}
.bloc-diary {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: $white;
  height: auto;

  img {
    max-width: 100%;
  }
 }

.breadcrump > div:first-child {
  margin-right: 15px; /* Ajoutez la marge désirée */
}
.photo-actu-show {
  width: 100%;
  // height: 400px;
  object-fit: contain;
  object-position: center;
  margin-bottom: 20px;
 }

 .short-description-show {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  margin: 0 0 20px 0;
  font-style: italic;
 }

 .nav-link-show {
  font-family: $headers-font;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
   text-decoration: none;

 }
.nav-link-show:hover {
   color: $red;
   text-decoration: none;


 }
