<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <%= link_to "Mentions légales", mentions_legales_path, class: "nav-link", style: "font-size:12px; opacity:1" %>
    <%= link_to "Contactez nous", 'mailto:jaimeplancoet@gmail.com', class: "nav-link", style: "font-size:12px; opacity:1" %>
  </div>


  <div class="footer-links">
<%= link_to "Conception Charles Woehl", "https://www.charleswoehl.fr", class: "nav-link", style: "font-size:12px; opacity:1", target: "_blank" %>
  </div>
</div>
