<div class="row">
  <% @cities.each do |city| %>
    <div class="flex-container col-md-3">
      <%= link_to "http://#{city.website}", target: "_blank" do %>
        <div class="flex-item card" style="border-radius:0 !important; height:auto">
          <% if city.photo&.key? %>
            <div class="pic-card">
              <%= cl_image_tag city.photo.key, class: "card-img zoom" %>
            </div>
          <% else %>
            <div class="pic-card">
              <!-- Placeholder or default image -->
              <%= image_tag 'home/home', class: "card-img zoom" %>
            </div>
          <% end %>
          <div class="category-card">
            <div class="container text-center"><%= city.name %></div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
