<div class="title-actu-home d-flex align-items-center flex-column justify-content-center" style="margin-top:20px">
  <div class="icone-asso-home d-flex justify-content-center align-items-center">
    <i class="fa-solid fa-calendar-days"></i>
  </div>
  <div class="title-under-icone">
    <h2 class="title">Proposer un évènement</h2>
  </div>

</div>
<div class="content container mt-5" style="flex:1">
<p>Merci, votre proposition nous est bien parvenue et nous reviendrons vers vous rapidement.</p>
</div>
