<div class="title-actu-home d-flex align-items-center flex-column justify-content-center" style="margin-top:20px">
  <div class="icone-actu-home d-flex justify-content-center align-items-center">
    <i class="fa-solid fa-bullhorn"></i>
  </div>
  <div class="title-under-icone">
    <h2 class="title">Les actualités</h2>
  </div>
  <p class="sub-title">
Cliquez sur une actualité pour en savoir plus.</p>
</div>
<div class="content container px-5" style="flex:1">


 <%= render "shared/listing_cards" %>

<%= paginate @actualities %>

</div>
