<div class="maintenance">
  <%= image_tag "logo.png", style: "height:190px; width:auto", class: "logo" %>
  <p>Vous retrouverez prochainement les actualités et l'agenda <br>de la vie à Plancoët</p>
</div>
