<div class="title-actu-home d-flex align-items-center flex-column justify-content-center" style="margin-top:20px">
  <div class="icone-asso-home d-flex justify-content-center align-items-center">
    <i class="fa-solid fa-info"></i>
  </div>
  <div class="title-under-icone">
    <h2 class="title">Ma ville pratique</h2>
  </div>
  <p class="sub-title">Cliquez sur l'image pour accéder au site</p>
</div>
<div class="content container px-5" style="flex:1; margin-top:10px">
 <%= render "shared/listing_city" %>


</div>
